# Supabase - https://app.supabase.com > Settings > API
SUPABASE_URL=https://phwfehpevsphoyhgdwvv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBod2ZlaHBldnNwaG95aGdkd3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MzAwMjQsImV4cCI6MjA4OTQwNjAyNH0.YYtSYx8wcfyIF3i8-1I0sQ69JBdQ6_DO8kGf6wjDCas
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBod2ZlaHBldnNwaG95aGdkd3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MzAwMjQsImV4cCI6MjA4OTQwNjAyNH0.YYtSYx8wcfyIF3i8-1I0sQ69JBdQ6_DO8kGf6wjDCas

PORT=3001
NODE_ENV=development
FRONTEND_URL=https://vetpanel.vercel.app/
